---
title: HW 3
type: assignment
number: 3
courseNumber: MAT4170
term: F26
date: 2026-09-17
layout: layouts/hw.njk
eleventyExcludeFromCollections: true
---
<h2>Goals</h2>
<ul>
  <li>Collaborate and reflect</li>
  <li>Practice with group axioms</li>
  <li>Subgroups and cyclic groups</li>
  <li>Quiz review</li>
  <li>Learn to make a Cayley diagram in \(\LaTeX\)</li>
  <li>Examples and non-examples of groups</li>
  <li>Programming practice</li>
  <li>Expand your horizons</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect and Collaborate</h2>
<details>
  <summary>
    Exercise 1 [5]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [5]
    <span style="font-size: small;">(Collaborate - TODO)</span>
  </summary>
  <ol>
    <li>[1] Post on Discord in the <code>#hw-prompts</code> channel ...</li>
    <li>[4] {% include 'content/F26/MAT4170/HW02/exercises/collaborate.html' %}</li>
  </ol>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 3 [5]
    <span style="font-size: small;">(Group properties)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/group_properties.html' %}
</details>

<details>
  <summary>
    Exercise 4 [5]
    <span style="font-size: small;">(Subgroups)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/subgroups.html' %}
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 5 [2]
    <span style="font-size: small;">(Quiz review - TODO)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 6 [≤5]
    <span style="font-size: small;">(\(\LaTeX\))</span>
  </summary>
  <i>This problem will have you draw a Cayley Diagram using a \(\LaTeX\) package called <code>tikz</code>, which is a somewhat advanced use of \(\LaTeX\). If you feel like you could keep benefitting from learning the basics, I recommend that you keep practicing with exercise HW1.6 (or another resource), and tag it under Final Choice Exercise part 7.</i>
  {% include 'content/F26/MAT4170/HW03/exercises/tikz.html' %}
</details>


<details>
  <summary>
    Choice Exercise 7 [≤5] ⭐️
    <span style="font-size: small;">(Group or not?)</span>
  </summary>
  <i>The star indicates that this is based on a problem that a previous student chose as their favorite problem of the term.</i>
  <p>
    For one point each (up to a maximum of five), determine which of the following are groups. Only choose examples that are not obvious to you&mdash;if you can tell within a 30 seconds whether or not an example is a group, skip it.
  </p>
  {% include 'content/F26/MAT4170/HW03/exercises/group_examples.html' %}
</details>

<details>
  <summary>
    Choice Exercise 8 [≤5]
    <span style="font-size: small;">(Latin Square)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/latin_square.html' %}
</details>

<details>
  <summary>
    Choice Exercise 9 [≤7]
    <span style="font-size: small;">(Programming)</span>
  </summary>
  <i>This week's programming exercise. You can do any subset of the following, and you get one point per ten minutes spent on this problem, up to 7.</i>
  {% include 'content/F26/MAT4170/HW03/exercises/programming.html' %}
</details>

<details>
  <summary>
    Choice Exercise 10 [≤4]
    <span style="font-size: small;">(Article + Video)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/self_study.html' %}
</details>

<details>
  <summary>Final Choice Exercise [≤7]</summary>
  {% include 'content/F26/MAT4170/HW02/exercises/final_choice_exercise.html' %}
</details>

<hr>

<ol class="footnotes">
  <li id="label-1">
    I learned about this on <a href="https://math.stackexchange.com/q/1216907/121988">Math Stack Exchange</a>, however, don't click this link until you've answered all of the questions.
    <a href="#ref-1">⏎</a>
  </li>
</ol>
