---
title: HW 3
type: assignment
number: 3
courseNumber: MAT4170
term: F26
date: 2026-09-17
layout: layouts/hw.njk
---
<h2>Goals</h2>
<ul>
  <li>Collaborate and reflect</li>
  <li>Start your proof portfolio</li>
  <li>Practice with group axioms</li>
  <li>Subgroups and cyclic groups</li>
  <li>Quiz review</li>
  <li>Learn to make a Cayley diagram in \(\LaTeX\)</li>
  <li>Examples and non-examples of groups</li>
  <li>Programming practice</li>
  <li>Expand your horizons</li>
</ul>
<h2>Change log</h2>
<ul>
  <li><i>(2026-09-16 13:33)</i> Simplify Exercises 5.2a and 5.2b.</li>
</ul>
<hr>
<h2>Reflect, Collaborate, and Write</h2>
<span style="font-size: small;">(Required)</span>
<details>
  <summary>
    Exercise 1 [4]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [4]
    <span style="font-size: small;">(Collaborate)</span>
  </summary>
  <ol>
    <li>[1]
      Post on Discord in the <code>#hw-prompts</code> channel with either an "aha" moment you have had so far in this class or an example of something that you would have explained differently from how I presented it.
    </li>
    <li>[3] {% include 'content/F26/MAT4170/HW03/exercises/collaborate.html' %}</li>
  </ol>
</details>

<details>
  <summary>
    Exercise 3 [2]
    <span style="font-size: small;">(Proof Portfolio)</span>
  </summary>
  <p>
    In this exercise, you will be starting your proof portfolio, which you will be working on for the next
  </p>
  <ol>
    <li>
      Download this <a href="/assets/F26/MAT4170/proof_portfolio.tex">proof_portfolio.tex</a> template, upload it in the same folder as this assignment (i.e., the same folder as <code>HW_{{number}}.tex</code>), make sure it's named <code>proof_portfolio.tex</code>, edit the author, and compile it.
    </li>
    <li>
      (If you are compiling locally, you can skip this step.) If you are using Overleaf, then once you have compiled the Proof Portfolio, download the PDF. Next, use the upload feature to upload the PDF to Overleaf, and make sure it's called <code>proof_portfolio.pdf</code>.
    </li>
    <li>
      In <code>HW_{{number}}.tex</code>, add <code>\usepackage{pdfpages}</code> to the preamble (the code at the top). Under Exercise 3, type <code>\includepdf[pages=-]{proof_portfolio.pdf}</code>. You should see the section header for Exercise 3 on its own page and the proof portfolio on the following page.
    </li>
    <li>
      Copy/paste a proposition/proof that you have written either from this assignment or from a previous assignment. Make sure that it matches the following format, with a carefully written proposition and proof:
      <pre><code>\begin{proposition}
  Let \(G)\ be a group [...]
\end{proposition}
\begin{proof}
  Suppose that for \(a,b \in G\), [...]
\end{proof}</code></pre>
      I won't be checking the details of the proof this time, I'll only be confirming that you used the template, and that your proposition/proof matches the above.
    </li>
  </ol>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 4 [5]
    <span style="font-size: small;">(Group properties)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/group_properties.html' %}
</details>

<details>
  <summary>
    Exercise 5 [5]
    <span style="font-size: small;">(Subgroups)</span>
  </summary>
  <!-- Do we want this or the included? -->
       <ol>
      <li>
        Find all integers \(n \in \{0, 1, 2, \dots, 7\}\) with a <i>multiplicative</i> inverse modulo \(8\), meaning that there exists an integer \(k\) such that \(nk \equiv 1 \pmod 8\). Show that these form a group with the binary operation of "multiplication modulo \(8\)," which we denote \((\mathbb{Z}/8\mathbb{Z})^\times.\)
      </li>
      <li>
        Recall that a group \(G\) is called <i>cyclic</i> if it can be generated by a single element: \({G = \langle g \rangle.}\)
        <ol>
          <li>
            Determine if \((\mathbb{Z}/7\mathbb{Z})^\times\) is a cyclic group and write down all of its subgroups.
          </li>
          <li>
            Give two examples of subgroups of \((\mathbb{Z}/15\mathbb{Z})^\times\) of order \(4\). Make sure one is a cyclic subgroup, and another is not cyclic.
          </li>
          <li>
            Determine if \((\mathbb{Z}/24 \mathbb{Z})^\times\) is a cyclic group, and find a subgroup of order \(4\).
          </li>
        </ol>
      </li>
    </ol>
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 6 [2]
    <span style="font-size: small;">(Quiz review)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 7 [≤5]
    <span style="font-size: small;">(\(\LaTeX\))</span>
  </summary>
  <i>This problem will have you draw a Cayley Diagram using a \(\LaTeX\) package called <code>tikz</code>, which is a somewhat advanced use of \(\LaTeX\). If you feel like you could keep benefitting from learning the basics, I recommend that you keep practicing with exercise HW1.6 (or another resource), and tag it under Final Choice Exercise part 7.</i>
  {% include 'content/F26/MAT4170/HW03/exercises/tikz.html' %}
</details>


<details>
  <summary>
    Choice Exercise 8 [≤5] ⭐️
    <span style="font-size: small;">(Group or not?)</span>
  </summary>
  <i>The star indicates that this is based on a problem that a previous student chose as their favorite problem of the term.</i>
  <p>
    For one point each (up to a maximum of five), determine which of the following are groups. Only choose examples that are not obvious to you&mdash;if you can tell within a 30 seconds whether or not an example is a group, skip it.
  </p>
  {% include 'content/F26/MAT4170/HW03/exercises/group_examples.html' %}
</details>

<details>
  <summary>
    Choice Exercise 9 [3]
    <span style="font-size: small;">(Latin Square)</span>
  </summary>
  <i>This problem was labeled incorrectly as 5 points. If you've already worked on it, you can claim all five points. If you're just starting it now, only claim up to 3 points.</i>
  {% include 'content/F26/MAT4170/HW03/exercises/latin_square.html' %}
</details>

<details>
  <summary>
    Choice Exercise 10 [≤7]
    <span style="font-size: small;">(Programming)</span>
  </summary>
  <i>Start a timer, and do any subset of the following parts. You get one point per ten minutes spent on this problem, up to 7.</i>
  {% include 'content/F26/MAT4170/HW03/exercises/programming.html' %}
</details>

<details>
  <summary>
    Choice Exercise 11 [≤5]
    <span style="font-size: small;">(Putnam Competition)</span>
  </summary>
  <p>
    In this exercise you will work on a problem that appeared on a Putnam Exam, widely considered to be one of the hardest math exams, with a typical median score of 0. Set a timer, and spend at least 20 minutes working on this problem, then look up a solution, understand it, and write it up in your own words.
  </p>
  <blockquote>
    <p>
      Let \(*\) be a commutative and associative binary operation on a set $S$. Assume that for every $x$ and $y$ in $S$, there exists $z$ in $S$ such that $x * z = y$. (This $z$ may depend on $x$ and $y$.) Show that if $a,b,c$ are in $S$ and $a*c = b*c$, then $a=b$.
    </p>
    <cite>2012 Putnam, <a href="https://kskedlaya.org/putnam-archive/2012.pdf">Problem A2</a></cite>
  </blockquote>
  </blockquote>
</details>

<details>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  {% include 'content/F26/MAT4170/HW02/exercises/final_choice_exercise.html' %}
</details>

<hr>

<ol class="footnotes">
  <li id="label-1">
    I learned about this on <a href="https://math.stackexchange.com/q/1216907/121988">Math Stack Exchange</a>, however, don't click this link until you've answered all of the questions.
    <a href="#ref-1">⏎</a>
  </li>
</ol>
