---
title: Conjugation and isomorphism
type: notes
courseNumber: MAT4170
term: F26
date: 2026-09-29
week: 6
day: Tuesday
layout: layouts/notes.njk
---
{% include '_includes/_partials/svg-defs.njk' %}
<h2>{{title}}</h2>
<p>
  Today we will discuss two main topics: conjugation and isomorphism.
</p>
<h3>Conjugation</h3>
<p>
  Informally, conjugation is "looking at a symmetry from a different perspective." For example, if you and your friend are looking at a square, and you're standing to the south of the square, and they are standing to the east of the square, then what you see as a "vertical flip", they see as a "horizontal flip." This is because these two flips are <i>conjugate</i>.
</p>
<div class="definition">
  <p>
    Let $a, b, b' \in G$, and suppose that \[
      b' = a * b * a^{-1}.
    \]
    We say that $b$ and $b'$ are <b>conjugate</b>, and we say that $b'$ is $b$ <b>conjugated by</b> $a$.
  </p>
</div>
<p>
  Making sense of the definition (when reading right-to-left), we are <i>changing our perspective</i> by $a$.
</p>
<div class="exercise">
  <p>
    Prove that "is conjugate to" is an equivalence relation, and thus partitions the group.
  </p>
</div>

<h3>Isomorphism</h3>
<p>
  In Group Theory, (as in almost every mathematical discipline) we are interested in knowing when two objects are "essentially the same."
</p>
<p>
  Sometimes two groups look very different but secretly are the same! One place you've experienced this before this class is when you learned that multiplying two real numbers of the form \(2^k\) is the same as adding their exponents.
</p>
<p>
  We've also seen other examples where two groups are essentially the same! Recall how we can label the corners of the square with "1", "2", and "3" and then every rotation or reflection of the square corresponds to a permutation of these numbers? This is because the dihedral group of the triangle \(D_3\) and the symmetric group on three objects \(S_3\) consist of essentially the same six symmetries.
</p>
<div class="example">
  <p>
    Our first indication that \(D_3\) and \(S_3\) are essentially the same comes from drawing their Cayley diagrams. If you draw the Cayley diagram for \(D_3\) using the generators \(r\) and \(f\), then draw the Cayley diagram for \(S_3\) using the generators \((1\ 2)\) and \((1\ 2\ 3)\), and finally remove the labels, you will see that you can wiggle them to make them look identical:
  </p>
  <div style="display: flex; justify-content: center; margin-top:1em; margin-bottom:1em;">
    {% include 'content/F26/MAT4170/notes/assets/week02Th/cayley_diagram_d3_minimal.svg' %}
  </div>
  <p>
    Perhaps more intuitively, \(D_3\) and \(S_3\) are "the same" because we can permute three objects by placing them on the corners of a triangle, and then the six symmetries in \(D_3\) can perform the six permutations in \(S_3\).
  </p>
  <p>
    First, for two groups to be "the same," we need to be able to match up their elements (that is, they form a <i>bijection</i>) and moreover, they must satisfy the same relations: \[
      (123)^3 = (23)^2 = \left((123)\circ(23)\right)^2 = e.
    \] We call this property <i>structure-preserving</i>.
  </p>
</div>
<p>
  It's not enough just to be a bijection. The cyclic group \(C_6\) and the dihedral group \(D_3\) both contain six symmetries, but they have to be different! The cyclic group can be generated by a single element, whereas \(D_3\) requires at least two elements to generate them! Also, \(C_6\) is abelian, but \(D_3\) is not.
</p>
