---
title: 'MAT 4111A: Putnam Preparation'
term: F26
courseNumber: MAT4111A
layout: layouts/base.njk
courseTitle: Putnam Preparation
---
<h1 style="margin:0;">{{ courseNumber }}</h1>
<h4 style="margin:0;">{{ courseTitle }} ({{ term }})</h4>

<h2>Problem collections</h2>
<ul>
  <li><a href="https://kskedlaya.org/putnam-archive/">The Putnam Archive</a> by Kiran Kedlaya</li>
  <li><a href="https://personal.math.vt.edu/plinnell/Vtregional/">Virginia Tech Regional Math Competition</a> by Peter Linnell</li>
  <li><a href="https://www.imc-math.org.uk/?year=2025&item=problems">Problems & Solutions</a>, International Mathematics Competition</li>
  <li><a href="https://web.evanchen.cc/usemo.html#archive">US Ersatz Math Olympiad archive</a> by Evan Chen</li>
  <li><a href="https://web.evanchen.cc/excerpts.html">The OTIS Excerpts</a> by Evan Chen</li>
  <li><a href="https://artofproblemsolving.com/wiki/index.php/AMC_Problems_and_Solutions">AMC Problems and Solutions</a>, AoPS</li>
</ul>

<h2>Weekly notes</h2>
<div class="three-column grid by-columns">
{% for post in collections.all | reverse %}{% if (post.data.courseNumber == courseNumber) and (post.data.term == term) and (post.data.type == "notes") %}
  <a href="{{ post.url }}">
    <div>
      <!-- <div class="hw-link"> -->
        Week {{ post.data.week }}
    </div>
  </a>
{% endif %}{% endfor %}
</div>
