---
title: 'MAT 4111A syllabus'
term: F26
courseNumber: MAT4111A
layout: layouts/base.njk
---

<h1>MAT 4111A: Putnam Preparation</h1>

<h2>Course Information</h2>
<ul>
  <li>Fall 2026, Thursday, August 20th&ndash;Thursday, December 3rd</li>
  <li>In-person, 1 credit</li>
  <li>Thursdays, 3:00PM&ndash;4:50PM, Bldg 4 Rm 1-314</li>
  <li>
    The 87th Putnam Competition will take place on Saturday, December 5th, 2026.
  </li>
  <li>
    <a href="https://discord.com/channels/1347041051906674788/1539800189999783999">KME Discord server</a>
    (See Canvas for invitation)
  </li>
</ul>

<h3>Instructor information</h3>
<p>
  Prof. Peter Kagey (KAY-ghee, he/they).
  <br>
  Email: <a href="mailto:pkagey@cpp.edu">pkagey@cpp.edu</a>
  <br>
  <i>You can call me "Peter", "Prof. Kagey," "Dr. Kagey," or "Professor."</i>
</p>

{% include 'content/F26/shared/syllabus_drop-in_hours.html' %}

<h3>Course description</h3>
<p>
  Problem solving techniques as encountered in the William Lowell Putnam Exam.
</p>

<h3>Textbooks and resources</h3>
<p>We will use the following online collections of math contest problems:</p>
<ul>
  <li><a href="https://kskedlaya.org/putnam-archive/">The Putnam Archive</a> by Kiran Kedlaya</li>
  <li><a href="https://personal.math.vt.edu/plinnell/Vtregional/">Virginia Tech Regional Math Competition</a> by Peter Linnell</li>
  <li><a href="https://www.imc-math.org.uk/?year=2025&item=problems">Problems & Solutions</a>, International Mathematics Competition</li>
  <li><a href="https://web.evanchen.cc/usemo.html#archive">US Ersatz Math Olympiad archive</a> by Evan Chen</li>
  <li><a href="https://web.evanchen.cc/excerpts.html">The OTIS Excerpts</a> by Evan Chen</li>
  <li><a href="https://artofproblemsolving.com/wiki/index.php/AMC_Problems_and_Solutions">AMC Problems and Solutions</a>, AoPS</li>
</ul>
<h2>Grading</h2>
<div style="display: flex; gap: 1rem; justify-content: center;">
<p style="flex: 0 0 60%;">
  The grade in this course is intended to reflect your learning, growth, and hard work. Spending time working on problems is essentially the only way to learn mathematics deeply. As such, in-class work will constitute 100% of the points in this class. If you cannot attend class, please contact the instructor for an alternative assignment.
</p>
<div style="flex: 0 0 5%;"></div>
<table style="flex: 0 0 30%; margin: 0;">
  <tr><td>A</td><td>≥ 93</td></tr>
  <tr><td>A-</td><td>≥ 90</td></tr>
  <tr><td>B+</td><td>≥ 87</td></tr>
  <tr><td>B</td><td>≥ 83</td></tr>
  <tr><td>B-</td><td>≥ 80</td></tr>
  <tr><td>C</td><td>≥ 70</td></tr>
  <tr><td>D</td><td>≥ 60</td></tr>
  <tr><td>F</td><td>&lt; 60</td></tr>
</table>
</div>


<h3>Attendance</h3>
<p>
  We will be discussing ideas and working on problems collaboratively in this class, so as such, attendance is required, and will be reflected your course grade. If you are unable to make it to class, you are encouraged to notify the instructor ahead of time to receive an alternative assignment in order to have the absence excused.
</p>


<h2>Academic Honesty and the Student Conduct Code</h2>
<p>
  My goal for this class is for you to learn and grow, and your academic honesty is a crucial part of ensuring that happens. You are encouraged to collaborate with other students, come to drop-in hours, ask questions in class, and reach out to me via email when you need help understanding course content. When submitting work done in collaboration with others, acknowledge their contributions, and write up the ideas in your own words.
</p>
<p>
  In this course, you <i>are</i> permitted to use tools such as generative AI (e.g. ChatGPT), Question and Answer sites (e.g. MathStackExchange), and other online resources (e.g. Google, GitHub) <b>given that you acknowledge your use of these tools whenever they impact your written work.</b>
</p>
<p>
  If it appears to me that students are using these tools in a way that undermines their learning or engagement, I may ask individual students to stop using these tools.
</p>
<h2>Resources</h2>
<h3>Disability Resource Center</h3>
<p>
  Many students have disabilities both visible and invisible. If you have a disability, I encourage you to reach out to the <a href="https://www.cpp.edu/drc/index.shtml">Disability Resource Center</a> to coordinate specific accommodations.
If there are any changes that I can make this course more accessible to you, I am eager to work with you&mdash;please reach out to me via email, after class, or in drop-in hours.
</p>

{% include 'content/F26/shared/syllabus_resources.html' %}
