---
title: HW 7
type: assignment
number: 7
courseNumber: MAT4170
term: F26
date: 2026-10-22
layout: layouts/hw.njk
eleventyExcludeFromCollections: true
---
<br>
<h2>Goals</h2>
<ul>
  <li>Complete your <a href=https://en.wiktionary.org/wiki/penultimate>penultimate</a> homework assignment.</li>
  <li>[...]</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect, Collaborate, and Write (Required)</h2>
<details>
  <summary>
    Exercise 1 [4]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [3]
    <span style="font-size: small;">(Collaborate)</span>
  </summary>
  <p>
    {% include 'content/F26/MAT4170/HW03/exercises/collaborate.html' %}
  </p>
</details>

<details>
  <summary>
    Exercise 3 [3]
    <span style="font-size: small;">(Proofs Portfolio - TODO)</span>
  </summary>
  <p>
    [...]
  </p>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 4 [?]
    <span style="font-size: small;"></span>
  </summary>
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 6 [≤2]
    <span style="font-size: small;">(Quiz review - TODO)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW06/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 8 [≤8]
    <span style="font-size: small;">(Fundamentals)</span>
  </summary>
  <ol>
    <li></li>
  </ol>
</details>

<details>
  <summary>
    Choice Exercise 8 [≤10]
    <span style="font-size: small;">(Automorphism)</span>
  </summary>
  <ol>
    <li>Show conjugating by \(g\) is an (inner) automorphism.</li>
    <li>See that "being consistent" with what we regard as a flip results in the "same" dihedral groups.</li>
    <li>Show that automorphisms form a group under function composition.</li>
  </ol>
</details>

<details>
  <summary>
    Choice Exercise 8 [≤10]
    <span style="font-size: small;">(TODO - normal subgroups are not transitive)</span>
  </summary>
  <p>
    Prove that the <i>normal subgroup</i> relation \(H \triangleleft G\) is <i>not</i> transitive by doing the following.
  </p>
  <ol>
    <li>
      On Exam 1, you proved that $A_n \triangleft S_n$. Repeat this argument here. (Prove the homework 1 hint!)
    </li>
    <li>
      On HW 5? you proved that conjugation in the symmetric group preserves cycle structure. Show that \(N = \{e, (12)(34), (13)(24), (14)(23)\}\) is a subgroup and is closed under conjugation. (It's closed under conjugation by elements of \(S_n\), so it's definitely closed by conjugation under \(A_n\).) And thus \(N \triangleleft S_4\) and \(H \triangleleft A_4\).
    </li>
    <li>
      Prove that \(H \cong C_2 \times C_2\) by describing an isomorphism, and briefly say why \(H\) is abelian.
    </li>
    <li>
      Quickly recall the proof that <i>all</i> subgroups of an abelian group are normal subgroups, and give an example of a proper non-trivial subgroup of \(H \triangleleft N\).
    </li>
    <li>
      Prove that \(H\) is <i>not</i> a normal subgroup of \(S_4\), and explain why this implies that the normal subgroup relation is not transitive.
    </li>
  </ol>
</details>

<details>
  <summary>
    Choice Exercise 9 [?] ⭐️
    <span style="font-size: small;">(Circle symmetries)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW07/exercises/circle_symmetries.html' %}
</details>

<details>
  <summary>
    Choice Exercise 10 [?]
    <span style="font-size: small;">(TODO - Cosets as parallel lines)</span>
  </summary>
  (find problem about cosets as parallel lines)
</details>

<details>
  <summary>
    Choice Exercise 12 [≤7]
    <span style="font-size: small;">(Programming - TODO)</span>
  </summary>
</details>

<details>
  <summary>
    Choice Exercise 13 [?]
    <span style="font-size: small;">(Articles / Video)</span>
  </summary>
</details>

<details>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  {% include 'content/F26/MAT4170/HW05/exercises/final_choice_exercise.html' %}
</details>
