---
title: Geometry
type: notes
courseNumber: MAT4111A
term: F26
date: 2026-09-10
week: 3
day: Thursday
layout: layouts/notes.njk
---
<h2>Geometry</h2>

<h3>Triangle inequality</h3>
<p>
  The triangle inequality follows directly from the Cauchy-Schwarz inequality. (How?)
</p>
<div class="proposition">
  Suppose that \(a\), \(b\), and \(c\) are the side lengths of a triangle, then \(c &lt; a + b\).
</div>
<div class="example">
  {% include 'content/F26/MAT4111A/problems/contest-problems/putnam/2010_B2.html' %}
  <details>
    <summary class="plain">Hint #1</summary>
    <p>
      Start by finding an example that works, even if its not the smallest. One possibility is a triangle whose side lengths belong to a "Pythagorean triple," integers \(a, b, c\) such that \(a^2 + b^2 = c^2\).
    </p>
  </details>
  <details>
    <summary class="plain">Hint #2</summary>
    <p>
      One possibility is the triangle with a vertex at the origin and other vertices at \((3,0)\) and \((0,4)\). This corresponds to the Pythagorean triple \(3, 4, 5\). Now we need to determine if there are any triangles where one side is length 1 or length 2.
    </p>
  </details>
  <details>
    <summary class="plain">Hint #3</summary>
    <p>
      Suppose for the sake of contradiction that \(AB = 1\), we can assume without loss of generality that we can place \(A\) at the origin and \(B\) at \(1,0\). (Why can we assume this?) What does the triangle inequality tell us about the other side lengths, and what does this tell us about \(C\)?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #4</summary>
    <p>
      Suppose for the sake of contradiction that \(AB = 2\), we can assume without loss of generality that we can place \(A\) at the origin and \(B\) at \(2,0\). (Why can we assume this?) Where can we place \(C\)?
    </p>
  </details>
</div>

<p>
  The following problem doesn't necessarily make use of the triangle inequality, but it will have you think about coordinates in the plane.
</p>
<div class="example">
  {% include 'content/F26/MAT4111A/problems/contest-problems/putnam/2008_B1.html' %}
  <details>
    <summary class="plain">Hint #1</summary>
    <p>
      It's easy enough to find a circle with a rational point on its circumference and an irrational center. (How?)
      Can you find a circle with two rational points on its circumference and an irrational center? Three?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #2</summary>
    <p>
      After you've begun to express doubt that you can find three (you're right!) you should start to prove it! Note that if the two points on the circumference are rational, so is their midpoint in the interior of the circle. (Why?)
    </p>
  </details>
  <details>
    <summary class="plain">Hint #3</summary>
    <p>
      If there are three points, at least two of them are not antipodal (directly across from each other). Call these points \(p_1\) and \(p_2\), and call their midpoint \(q\). The slope between \(p_1\) and \(p_2\) is rational. What does this tell us about the slope between \(q\) and the center of the circle \(c\)?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #4</summary>
    <p>
      Choose another pair of points on the circumference and do the same construction. What can you say about the resulting slope? Does this line intersect the last one?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #5</summary>
    <p>
      If we have two lines with rational points, can they intersect at an irrational point?
    </p>
  </details>
</div>

<h2>Practice problems</h2>
<div class="exercise">
  {% include 'content/F26/MAT4111A/problems/contest-problems/putnam/2012_A1.html' %}
  <details>
    <summary class="plain">Hint #1</summary>
    <p>
      Let's sort our points so that \(d_1 &le; d_2 &le; \cdots &le; d_{12}\).
      If \(d_1\), \(d_2\), \(d_3\) do not form the side lengths of an acute triangle, what do we know about the relationship between \(d_1\), \(d_2\), and \(d_3\)?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #2</summary>
    <p>
      If \(d_1\), \(d_2\), \(d_3\) do not form the side lengths of an acute triangle, how do we know that \(d_3 > 2\)?
      Now if we also know that \(d_2\), \(d_3\), \(d_4\) do not form the side lengths of an acute triangle, how do we know that \(d_4 > 3\)?
    </p>
  </details>
  <details>
    <summary class="plain">Hint #3</summary>
    <p>
      Keep playing this game. Can you put a lower bound on \(d_5\)? \(d_6\)?
    </p>
  </details>
</div>
<div class="exercise">
  {% include 'content/F26/MAT4111A/problems/contest-problems/putnam/2002_A2.html' %}
  <details>
    <summary class="plain">Note #1</summary>
    <p>
      Does this still work if we replace "closed hemisphere" with "open hemisphere"?
    </p>
  </details>
  <details>
    <summary class="plain">Note #2</summary>
    <p>
      Perhaps this can be approached with the <a href="https://en.wikipedia.org/wiki/Probabilistic_method">probabilistic method</a>, by showing that if you cut the sphere in half, then the expected number of points on the half with with more points is strictly greater than 3.
    </p>
  </details>
</div>
