---
title: Welcome to Putnam Prep!
type: notes
courseNumber: MAT4111A
term: F26
date: 2026-08-20
week: 0
day: Thursday
layout: layouts/notes.njk
---
<h4>Problem 1.</h4>
<p style="font-style:italic;">This problem comes from the AMC 12, which is a math competition for high school students.</p>
{% include 'content/F25/MAT4111A/problems/contest-problems/amc_12/a_2024_7.html' %}

<h4>Problem 2.</h4>
<p style="font-style:italic;">
  This problem is from the (now defunct) Virginia Tech Regional Mathematics Contest, which is an undergraduate exam, and the first contest I ever participated in. This was my favorite question from the exam.
</p>
{% include 'content/F25/MAT4111A/problems/totient-theorem/power_tower.html' %}

<h4>Problem 3.</h4>
<p style="font-style:italic;">This is from the Putnam the year I took it. Problem A1 is the first problem in the morning session, and it's typically designed to be the most approachable. (I didn't get this one!)</p>
{% include 'content/F25/MAT4111A/problems/contest-problems/putnam/2013_A1.html' %}

<h4>Problem 4.</h4>
<p style="font-style:italic;">This is the sixth problem of the morning session of the 2024 Putnam. Problems broadly get more difficult as you go within each section, so while this one appears to just be about Taylor series expansion and determinants, it's really tough! None of the 3988 students got 10/10, and only one student got more than 1/10!</p>
{% include 'content/F26/MAT4111A/problems/contest-problems/putnam/2024_A6.html' %}
