---
title: HW 2
type: assignment
number: 2
courseNumber: MAT4170
term: F26
date: 2026-09-10
layout: layouts/hw.njk
eleventyExcludeFromCollections: true
---

<h2>Goals</h2>
<ul>
  <li>[...]</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect and Collaborate</h2>
<details open>
  <summary>
    Exercise 1 [5]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/reflect.html' %}
</details>

<details open>
  <summary>
    Exercise 2 [5]
    <span style="font-size: small;">(Collaborate)</span>
  </summary>
  <ol>
    <li>[1] Post on Discord with ... </li>
    <li>[4] {% include 'content/F26/MAT4170/HW02/exercises/collaborate.html' %}</li>
  </ol>
</details>

<h2>Required Exercises</h2>
<details open>
  <summary>
    Exercise 3 [5]
    <span style="font-size: small;">(Cayley diagram)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/cayley_diagram.html' %}
</details>

<details open>
  <summary>
    Exercise 4 [5]
    <span style="font-size: small;">(...)</span>
  </summary>
  [...]
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details open>
  <summary>
    Choice Exercise 5 [2]
    <span style="font-size: small;">(Quiz review &mdash; TODO)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/quiz_review.html' %}
</details>

<details open>
  <summary>
    Choice Exercise 6 [≤6]
    <span style="font-size: small;">(Symmetric group practice)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/symmetric_group.html' %}
</details>

<details open>
  <summary>
    Choice Exercise 6 [≤15]
    <span style="font-size: small;">(programming)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/openscad.html' %}
</details>


<details open>
  <summary>
    Choice Exercise [4] ⭐️
    <span style="font-size: small;">(Cayley polytope)</span>
  </summary>
  <i>The star indicates that this is a previous student's favorite choice exercise.</i>
  {% include 'content/F26/MAT4170/HW02/exercises/cayley_polytope.html' %}
</details>

<details open>
  <summary>
    Choice Exercise [4]
    <span style="font-size: small;">(Self-study)</span>
  </summary>
  <p>Watch $30$ minutes worth of Professor Macauley's videos from his <a href="https://www.youtube.com/playlist?list=PLwV-9DG53NDxU337smpTwm6sef4x-SCLv">Visual Group Theory</a> playlist on YouTube. Feel free to skip around but try to find the sweet spot between challenging and understandable. Write at least three sentences about what you understood, didn't understand, are curious about, etc.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vzEObOzsSKY?si=3EDDDgK-dBfWGMMH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</details>

{% include 'content/F26/MAT4170/HW01/exercises/final_choice_exercise.html' %}

<hr>

<ol class="footnotes">
  <li id="label-1">
    If you got a helpful insight from one of these tools, make sure to share it with your classmates on the <code>#hints-questions-tips</code> channel on Discord!
    <a href="#ref-1">⏎</a>
  </li>
</ol>
