---
title: HW 2
type: assignment
number: 2
courseNumber: MAT4170
term: F26
date: 2026-09-10
layout: layouts/hw.njk
---

{% include '_includes/_partials/svg-defs.njk' %}
<h2>Goals</h2>
<ul>
  <li>Collaborate and reflect</li>
  <li>Practice drawing a Cayley diagram</li>
  <li>Work with cyclic groups, abelian groups, direct products, and Cayley tables</li>
  <li>Review the quizzes</li>
  <li>Practice with the symmetric group</li>
  <li>Draw a permutahedron!</li>
  <li>Explore the symmetries of the hypersphere</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect and Collaborate</h2>
<details>
  <summary>
    Exercise 1 [5]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [5]
    <span style="font-size: small;">(Collaborate)</span>
  </summary>
  <ol>
    <li>[1] Post on Discord with ... </li>
    <li>[4] {% include 'content/F26/MAT4170/HW02/exercises/collaborate.html' %}</li>
  </ol>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 3 [5]
    <span style="font-size: small;">(Cayley diagram)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/cayley_diagram.html' %}
</details>

<details>
  <summary>
    Exercise 4 [5]
    <span style="font-size: small;">(Cyclic groups)</span>
  </summary>
  <p>
    Recall that we say a group \(G\) with operation \(\star\) is an <i>abelian group</i> if for every choice of symmetries \(a, b \in G\), \[
      a \star b = b \star a.
    \]
  </p>
  <p>
    While <u>the</u> cycle group of order \(n\) is specifically \[C_n = \langle r \mid r^n = e\rangle, \]
    <u>a</u> <i>cyclic group</i> is any group with an element \(g\) (called a <i>generator</i>), such that every element of the group can be written in the form \(g^k\), where \(k \in \mathbb{Z}\) is an integer.
  </p>
  <ol>
    <li>
      Prove that every cyclic group is abelian.
    </li>
    <li>
      Draw a Cayley table for the direct product of cyclic groups \(C_2 \times C_3\), where \(C_n = \langle r \mid r^n = e \rangle\).
    </li>
    <li>
      A group is abelian if and only if it is the same when you reflect its Cayley table across the main diagonal (like a matrix transpose). Explain informally why this is. Is \(C_2 \times C_3\) abelian?
    </li>
    <li>
      It turns out (but it is not obvious!) that \(C_2 \times C_3\) is <i>cyclic</i>. Find a <i>generator</i> in the group that when applied repeatedly reaches every element in the group and use it to draw a Cayley diagram.
    </li>
    <li>
      We say that the <i>order of a group</i> is the number of elements in the group and that the <i>order of an element</i> is the number of times you need to apply it to get back to the identity. Thus a group is cyclic precisely when it contains an elements whose order is equal to the order of the group. Check the order of every element in the dihedral group \(D_3\) to prove that this group is <i>not</i> cyclic.
    </li>
    <li>
      Prove that not every abelian group is cyclic by giving an example of a direct product of cyclic groups that is not itself a cyclic group.
    </li>
  </ol>
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 5 [2]
    <span style="font-size: small;">(Quiz review)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 6 [≤6]
    <span style="font-size: small;">(Symmetric group practice)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/symmetric_group.html' %}
</details>

<details>
  <summary>
    Choice Exercise 7 [≤15]
    <span style="font-size: small;">(programming)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/openscad.html' %}
</details>


<details>
  <summary>
    Choice Exercise 8 [4] ⭐️
    <span style="font-size: small;">(Cayley polytope)</span>
  </summary>
  <i>The star indicates that this is a previous student's favorite choice exercise.</i>
  {% include 'content/F26/MAT4170/HW02/exercises/cayley_polytope.html' %}
</details>

<details>
  <summary>
    Choice Exercise 9 [≤9]
    <span style="font-size: small;">(Hypersphere symmetries)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW02/exercises/orthogonal_group.html' %}
</details>


<details>
  <summary>
    Choice Exercise 10 [4]
    <span style="font-size: small;">(Self-study)</span>
  </summary>
  <p>Watch $30$ minutes worth of Professor Macauley's videos from his <a href="https://www.youtube.com/playlist?list=PLwV-9DG53NDxU337smpTwm6sef4x-SCLv">Visual Group Theory</a> playlist on YouTube. Feel free to skip around but try to find the sweet spot between challenging and understandable. Write at least three sentences about what you understood, didn't understand, are curious about, etc.</p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vzEObOzsSKY?si=3EDDDgK-dBfWGMMH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</details>

<details open>
  <summary>Final Choice Exercise [≤7]</summary>
  {% include 'content/F26/MAT4170/HW02/exercises/final_choice_exercise.html' %}
</details>

<hr>

<ol class="footnotes">
  <li id="label-1">
    If you got a helpful insight from one of these tools, make sure to share it with your classmates on the <code>#hints-questions-tips</code> channel on Discord!
    <a href="#ref-1">⏎</a>
  </li>
</ol>
