---
title: 'MAT 5010: Introduction to Mathematical Typesetting'
layout: layouts/base.njk
term: F26
courseNumber: MAT5010
courseTitle: Introduction to Mathematical Typesetting
---
<h1 style="margin:0;">{{ courseNumber }}</h1>
<h4 style="margin:0;">{{ courseTitle }} ({{ term }})</h4>

<h2>Notes</h2>
<ul>
{% for post in collections.all | reverse %}{% if (post.data.courseNumber == courseNumber) and (post.data.term == term) and (post.data.type == "notes") %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
{% endif %}{% endfor %}
</ul>

<h2>Assignments</h2>
<ul>
{% for post in collections.all | reverse %}{% if (post.data.courseNumber == courseNumber) and (post.data.term == term) and (post.data.type == "assignment") %}
  <li>
    <a href="{{ post.url }}">{{ post.data.title }}</a>
  </li>
{% endif %}{% endfor %}
</ul>

<h3 style="margin-bottom:0;">Other pages</h3>
<ul style="margin-top:0;">
  <li><a href="/LaTeX_tips/">\( \LaTeX \) tips</a></li>
</ul>
