---
title: 'MAT 5010 syllabus'
layout: layouts/base.njk
courseNumber: MAT5010
term: F26
---

<h1>MAT 5010: Introduction to Mathematical Typesetting</h1>

<h2>Course Information</h2>
<ul>
  <li>Fall 2026, Tuesday, August 25th&ndash;Thursday, December 3rd</li>
  <li>In-person, 1 credit</li>
  <li>Tuesdays, 3:00PM&ndash;3:50PM, Bldg 8 Rm 210</li>
  <li><a href="https://discord.com/channels/1539799855545982998/">Discord server</a> (See Canvas for Discord invitation link.)</li>
</ul>

<h3>Instructor information</h3>
<p>
  Prof. Peter Kagey (KAY-ghee, he/they).
  <br>
  Email: <a href="mailto:pkagey@cpp.edu">pkagey@cpp.edu</a>
  <br>
  <i>You can call me "Peter", "Prof. Kagey," "Dr. Kagey," or "Professor."</i>
</p>

{% include 'content/F26/shared/syllabus_drop-in_hours.html' %}

<h3>Course description</h3>
<p>
  Introduction to the use of \(\LaTeX\) or other typesetting language for mathematics, with a particular emphasis on document preparation for instructional materials, articles, presentations, and Master's theses.
</p>

<h4>Expected Outcome</h4>
<ol>
  <li>
    Students will master the basics of \(\LaTeX\) to type mathematical symbols and equations.
  </li>
  <li>
    Students will use the \(\LaTeX\) numbering systems to create automatic numbering and references of chapters, sections, theorems, etc.
  </li>
  <li>
    Students will learn a variety of environments, including enumerated lists, itemized lists, the tabular environment, the align environment.
  </li>
  <li>
    Students will be ready to begin writing a thesis.
  </li>
  <li>
    Students will create a presentation using Beamer or other \(\LaTeX\) based presentation class.
  </li>
</ol>

<h3>Textbooks and resources</h3>
<p>
  We will use the following free, online resources: <ul>
    <li><a href="https://www.overleaf.com/learn">Overleaf Documentation</a></li>
  </ul>
</p>

<p>
  You will need reliable access to computer and the internet to get assigned readings and activities from Canvas and other websites, and to turn in assignments. Please let me know if you need help accessing this technology so we can connect you with campus resources.
</p>

<h2>Grading</h2>
<p>
  The grade in this course is intended to reflect your learning, growth, and hard work.
</p>
<p>
  Spending time practicing typesetting is essentially the only way to learn the craft. As such, homework will constitute 50% of the credit in this class.
</p>
<div style="display: flex; gap: 1rem; justify-content: center;">
<table class="grade-breakdown-table">
  <tr><td>Homework</td><td>50%</td></tr>
  <tr><td>In-class participation</td><td>50%</td></tr>
  <!-- <tr><td>Take-home exams</td><td>10%</td></tr>
  <tr><td>Proof portfolio</td><td>10%</td></tr>
  <tr><td>Group project</td><td>20%</td></tr> -->
</table>
<p>
  \[
    g(s) = \begin{cases}
      \text{A}  & s \in [93,\infty)\\
      \text{A-} & s \in [90,93)\\
      \text{B+} & s \in [87,90)\\
      \text{B}  & s \in [83,87)\\
      \text{B-} & s \in [80,83)\\
      \text{C+} & s \in [77,80)\\
      \text{C} & s \in [73,77)\\
      \text{C-} & s \in [70,73)\\
      \text{D} & s \in [60,70)\\
      \text{F} & s \in [-\infty,60)\\
    \end{cases}
  \]
</p>
</div>

<h2>Class policies</h2>
<h3>Academic Honesty and the Student Conduct Code</h3>
<p>
  My goal for this class is for you to learn and grow, and your academic honesty is a crucial part of ensuring that happens. In this course, you are encouraged to ask for extensions when you need them, and you will be allowed to re-submit homework for full credit.
</p>
<p>
  You are encouraged to collaborate with other students, come to drop-in hours, ask questions in class, and reach out to me via email when you need help with completing homework assignments or understanding course content. When submitting work done in collaboration with others, acknowledge their contributions, and write up the ideas in your own words.
</p>
<p>
  In this course, you <i>are</i> permitted to use tools such as generative AI (e.g. Claude, Gemini, ChatGPT), Question and Answer sites (e.g. Math StackExchange), and other online resources (e.g. Google, GitHub) <b>given that you acknowledge your use of these tools whenever they impact your written work,</b> and that you share any insights you gained from using them with the class via the <code>#hints-questions-tips</code> channel on Discord.
</p>
<p>
  If it appears to me that students are using these tools in a way that undermines their learning or engagement, I may ask individual students to stop using these tools.
</p>

{% include 'content/F26/shared/syllabus_resources.html' %}

<h2>Calendar</h2>
<table class="weekly-calendar">
  <tr>
    <td>1</td>
    <td class="date">August 25th</td>
    <td>
      Syllabus, class policies, and \(\LaTeX\).
    </td>
  </tr>

  <tr>
    <td>2</td>
    <td class="date">September 1st</td>
    <td>
      Whitespace
      <br>
      Environments (<code>enumerate</code>, <code>itemize</code>, <code>align</code>, <code>array</code>, <code>table</code>, <code>matrix</code>, etc.)
      <br>
      Theorems, examples, and proofs
    </td>
  </tr>

  <tr>
    <td>3</td>
    <td class="date">September 8th</td>
    <td>
      Numbering and internal references via <code>\ref</code>, <code>\label</code>
      <br>
      Tables and figures
    </td>
  </tr>

  <tr>
    <td>4</td>
    <td class="date">September 15th</td>
    <td>
      Choose your own adventure!
    </td>
  </tr>

  <tr>
    <td>5</td>
    <td class="date">September 22nd</td>
    <td>
      <!-- Graphics, images, and TikZ -->
      Bibliography and <code>BibLaTeX</code>
    </td>
  </tr>

  <tr>
    <td>6</td>
    <td class="date">September 29th</td>
    <td>
      Page layout and document classes
    </td>
  </tr>

  <tr>
    <td>7</td>
    <td class="date">October 6th</td>
    <td>
      Thesis style file
      <br>
      Macros
    </td>
  </tr>

  <tr>
    <td>8</td>
    <td class="date">October 13th</td>
    <td>
      Maker Studio tour?
    </td>
  </tr>

  <tr>
    <td>9</td>
    <td class="date">October 20th</td>
    <td>
      Installing \(\LaTeX\), and using an IDE.
      <br>
      "Stupid dev tips"
    </td>
  </tr>

  <tr>
    <td>10</td>
    <td class="date">October 27th</td>
    <td>
      \(\LaTeX\) workshop
    </td>
  </tr>

  <tr>
    <td>11</td>
    <td class="date">November 3rd</td>
    <td>
      Mathematical presentations in Beamer
    </td>
  </tr>

  <tr>
    <td>12</td>
    <td class="date">November 10th</td>
    <td>
      \(\LaTeX\) in other documents (Gradescope, StackExchange, Microsoft Office, Keynote, etc.)
      <br>
      Semantic document structure in Microsoft word, HTML, and Markdown.
    </td>
  </tr>

  <tr>
    <td>13</td>
    <td class="date">November 17th</td>
    <td>
      Typst, MathML, Microsoft equation editor, and other math typesetting tools.
    </td>
  </tr>

  <tr>
    <td>14</td>
    <td class="date">November 24th</td>
    <td>
      Thesis workshop
    </td>
  </tr>

  <tr>
    <td>15</td>
    <td class="date">December 1st</td>
    <td>
      Last meeting of the term
    </td>
  </tr>
</table>
