---
title: HW 4
type: assignment
number: 4
courseNumber: MAT4170
term: F26
date: 2026-09-24
layout: layouts/hw.njk
eleventyExcludeFromCollections: true
---
<h2>Goals</h2>
<ul>
  <li>Collaborate and reflect</li>
  <li>Equivalence classes</li>
  <li>Cosets and quotient groups</li>
  <li>Quiz review</li>
  <li>[...]</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect, Collaborate, and Write (Required)</h2>
<details>
  <summary>
    Exercise 1 [4]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [4]
    <span style="font-size: small;">(Collaborate - TODO)</span>
  </summary>
  <ol>
    <li>[1]
      Post on Discord in the <code>#hw-prompts</code> channel with ...
    </li>
    <li>[3] {% include 'content/F26/MAT4170/HW03/exercises/collaborate.html' %}</li>
  </ol>
</details>

<details>
  <summary>
    Exercise 3 [2]
    <span style="font-size: small;">(Proof Portfolio - TODO)</span>
  </summary>
  <p>
    [...]
  </p>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 3 [5]
    <span style="font-size: small;">(Week 4a topic)</span>
  </summary>
</details>

<details>
  <summary>
    Exercise 4 [5]
    <span style="font-size: small;">(Week 4b topic)</span>
  </summary>
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 5 [2]
    <span style="font-size: small;">(Quiz review - TODO)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 6 [n]
    <span style="font-size: small;">(\(\LaTeX\) practice)</span>
  </summary>
</details>


<details>
  <summary>
    Choice Exercise X [n]
    <span style="font-size: small;">(Programming)</span>
  </summary>
  <i>
    For this week's programming exercise, you will learn some Mathematica. You will get one point for every \(10\) minutes you spend working on this exercise, up to a maximum of \(7\)
  </i>
  <ol>
    <li>
      Start by using the CPP license to download Mathematica or access it on the web. (You <i>can</i> count the time you work on actively navigating the download/install, but don't count the time where Mathematica is downloading/installing in the background.)
    </li>
  </ol>
</details>

<details>
  <summary>
    Choice Exercise X [≤4]
    <span style="font-size: small;">(Article + Video)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/self_study.html' %}
</details>

<details>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  {% include 'content/F26/MAT4170/HW02/exercises/final_choice_exercise.html' %}
</details>

<hr>

<ol class="footnotes">
  <li id="label-1">
    I learned about this on <a href="https://math.stackexchange.com/q/1216907/121988">Math Stack Exchange</a>, however, don't click this link until you've answered all of the questions.
    <a href="#ref-1">⏎</a>
  </li>
</ol>
