---
title: HW 4
type: assignment
number: 4
courseNumber: MAT4170
term: F26
date: 2026-09-24
layout: layouts/hw.njk
---
<h2>Goals</h2>
<ul>
  <li>Collaborate and reflect</li>
  <li>Equivalence relations</li>
  <li>Cosets</li>
  <li>Quiz review</li>
  <li>Learn a new programming language?</li>
  <li>Learn some new group theory objects</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<h2>Reflect, Collaborate, and Write (Required)</h2>
<details>
  <summary>
    Exercise 1 [4]
    <span style="font-size: small;">(Reflection and formatting)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW03/exercises/reflect.html' %}
</details>

<details>
  <summary>
    Exercise 2 [4]
    <span style="font-size: small;">(Collaborate)</span>
  </summary>
  <ol>
    <li>[1]
      Post on Discord in the <code>#hw-prompts</code> channel with an example of a <code>\newcommand</code> that you use as an alias (e.g. <code>\newcommand{\Z}{\mathbb{Z}}</code>) or as a "function" (e.g., <code>\newcommand{\ang}[1]{\langle #1 \rangle}</code>).
      <br>
      Alternatively, you can give a tip of something that helps you to speed up the time that it takes you to complete your assignments, including but not limited to \(\LaTeX\) tips.
    </li>
    <li>[3] {% include 'content/F26/MAT4170/HW03/exercises/collaborate.html' %}</li>
  </ol>
</details>

<details>
  <summary>
    Exercise 3 [2]
    <span style="font-size: small;">(Proof Portfolio)</span>
  </summary>
  <ol>
    <li>
      Go back and edit your proposition, definition, proof, or \(\LaTeX\) to make your proof portfolio a little nicer.
    </li>
    <li>
      Add two new sections to your proof portfolio such as propositions, proofs, definitions or examples based on something you wrote for this or a previous assignment.
    </li>
    <li>
      Recompile your latest version of your document, and then include it under this exercise using the same steps shown in last week's assignment.
    </li>
  </ol>
</details>

<h2>Required Exercises</h2>
<details>
  <summary>
    Exercise 4 [2]
    <span style="font-size: small;">(Associativity)</span>
  </summary>
  <i>
    Do four of the following six parts. You can do the remaining two for one point each. Tag them under the final choice exercise; they will not count toward the ≤7 point cap&mdash;but if you go over that ≤7 point cap, remind me in the final choice exercise that I said this!
  </i>
  <ol>
    <li>
      With the exception of HW0 Choice Exercise 8.2b, we haven't really proven that a binary operation is associative. Prove or disprove whether the following binary operations (inspired by <a href="https://math.umd.edu/~jcohen/402/Pinter%20Algebra.pdf#page=28">Pinter's <i>Abstract Algebra</i></a>) are associative on the \(X\). If the operation is not associative, give a counter-example. If it is associative, determine whether or not the operation has a (two-sided) identity element in \(X\).
      <ol>
        <li>Let \(X = \mathbb{Z}\) and let \(a \oplus b = a + b + 1\).</li>
        <li>Let \(X = \{1,2,3,\dots, 919\}\) and let \(a \ominus b = b\).</li>
        <li>Let \(X = \mathbb{Z}\) and let \(a \boxplus b = |a + b|\)</li>
        <li>
          Let \(X = \mathbb{R} \times \mathbb{R}\) and let \[
            (a,b) \boxminus (c,d) = (ac-bd, ad + bc)
          \]
          (Do you recognize what this secretly is?)
        </li>
        <li>Let \(X = \{-4,-2,-1,0,3,7,8\}\) and let \(a \mathbin\lozenge b = \min(a,b)\)</li>
        <li>Let \(X = \mathbb{Q}\setminus\{0\}\) and let \(a \otimes b = \frac{1}{ab}\)</li>
      </ol>
    </li>
  </ol>
</details>

<details>
  <summary>
    Exercise 5 [4]
    <span style="font-size: small;">(Applying Lagrange's theorem)</span>
  </summary>
  <ol>
    <li>
      As formally or as informally as you'd like, prove that if \(g\) is an element of a group with a finite order \(|g| = k\), then the order of the subgroup generated by \(g\) is also \(k\), namely \(|\langle g \rangle| = k\).
    </li>
    <li>
      A cube has \(24\) rotational symmetries (i.e. non mirror-image symmetries), and we call this symmetry group \(O\) for "(rotational) <a href="https://en.wikipedia.org/wiki/Octahedral_symmetry">octahedral symmetry</a>." What are the possible orders of subgroups of \(O\)? (e.g., can there exist an order-\(7\) subgroup of \(O\)?)
    </li>
    <li>
      Suppose that I have three hexagons on the table: one red, one green, and one blue. Every time I leave the classroom, and a student comes up and applies the same symmetry \(g_1, g_2, g_3 \in D_6 \times D_6 \times D_6\) to them. Prove that the 12th time I enter the classroom, the hexagons are precisely in their starting position.
    </li>
    <li>
      Bézout's identity tells us that the elements of \((\mathbb{Z}/n\mathbb{Z})^\times\) are precisely the positive integers \(1 \leq k < n\) that are coprime to \(n\), meaning that \(\gcd(n,k)=1\).
      <br>
      Euler's phi function \(\phi(n)\) counts the positive integers less than \(n\) that are coprime to \(n\).
      <br>
      <a href="https://en.wikipedia.org/wiki/Lagrange%27s_theorem_(group_theory)">Euler's Theorem</a> tells us that if \(a\) is coprime to \(n\) then \[
        a^{\phi(n)} \equiv 1 \pmod n.
      \]
      <ol>
        <!-- 1,5,7,11,13, -->
        <li>
          Use your work from last week to show that \(\phi(24) = 8\), and use Lagrange's theorem to compute \(13^9 = 10604499373 \pmod 24\).
        </li>
        <li>Use the facts from the previous parts (together with theorems you know and love from class) to prove Euler's Theorem! <i>(This was my favorite proof in undergrad! 😊)</i></li>
      </ol>

    </li>
  </ol>
</details>
<!-- Prove that if G is a finite group, that g^|G| = e. Use this to discuss the number theory fact about a^\phi(n) \pmod n. -->
<details>
  <summary>
    Exercise 6 [4]
    <span style="font-size: small;">(Cosets and equivalence relations)</span>
  </summary>
  <ol>
    <li>[2]
      Let \(H = \langle r^2, r^3f \rangle \leq D_6\).
      <ol>
        <li>Explicitly write all of the elements of \(H\).</li>
        <li>
          Explicitly write all of the (left) cosets of \(H\), giving at least two possible names for each coset.
        </li>
        <li>
          Explain what it means for the cosets to <i>partition</i> \(D_6\).
        </li>
    </li>
    <li>[2]
      Let \((G,*)\) be a group and \(H \leq G\) be a subgroup.

      Suppose that \(a \sim b\) if and only if there exists \(h \in H\) such that \(a = b*h\). We showed in class that this relation is symmetric and reflexive. Show that the relation is also transitive (and thus an equivalence relation.)
    </li>
  </ol>
</details>

<h2>Choice Exercises</h2>
<p>
  <i>Do 10 points worth of the following choice exercises. Make sure to tag the appropriate exercises when you submit on Gradescope.</i>
</p>

<details>
  <summary>
    Choice Exercise 7 [2]
    <span style="font-size: small;">(Quiz review)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/quiz_review.html' %}
</details>

<details>
  <summary>
    Choice Exercise 8 [≤4]
    <span style="font-size: small;">(\(\LaTeX\) practice)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/latex_practice.html' %}
</details>

<details>
  <summary>
    Choice Exercise 9 [≤6]
    <span style="font-size: small;">(Relations)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/relations.html' %}
</details>

<details>
  <summary>
    Choice Exercise 10 [≤7]
    <span style="font-size: small;">(Cayley's theorem)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/cayleys_theorem.html' %}
</details>

<details>
  <summary>
    Choice Exercise 11 [4+3+6]
    <span style="font-size: small;">(Conjugation and centralizers)</span>
  </summary>
  {% include 'content/F26/MAT4170/HW04/exercises/conjugation_centralizers.html' %}
</details>

<details>
  <summary>
    Choice Exercise 12 [≤7]
    <span style="font-size: small;">(Programming - Mathematica)</span>
  </summary>
  <i>
    For this week's programming exercise, you will learn some Mathematica. You will get one point for every \(10\) minutes you spend working on this exercise, up to a maximum of \(7\)
  </i>
  {% include 'content/F26/MAT4170/HW04/exercises/mathematica.html' %}
</details>

<details>
  <summary>
    Choice Exercise 13 [≤4]
    <span style="font-size: small;">(Articles / Video)</span>
  </summary>
  <i>Do up to four points worth of the following parts.</i>
  {% include 'content/F26/MAT4170/HW04/exercises/self_study.html' %}
</details>

<details>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  {% include 'content/F26/MAT4170/HW02/exercises/final_choice_exercise.html' %}
</details>
