---
title: HW 8
type: assignment
number: 8
courseNumber: MAT4170
term: S26
date: 2026-04-10
layout: layouts/hw.njk
---
<h2>Goals</h2>
<ul>
  <li>Continue working on your blog post.</li>
  <li>See why Burnside's Lemma works.</li>
  <li>Practice with group actions.</li>
  <li>Test your intuition.</li>
  <li>See a fundamental theorem!</li>
</ul>
<!-- <h2>Change log</h2>
<ul>
  <li><i>(2026-xx-xx xx:xx)</i>[...]</li>
</ul> -->
<hr>
<details open>
  <summary>
    Exercise 1 [2]
    <span style="font-size: small;"></span>
  </summary>
  <ol>
    <li>
      Fill out the following and tag it as Exercise 1: <pre><code>\section*{Exercise 1}
Collaborators: Alex, Ross, Margaret, Joan

\noindent
Tools and resources used: On Exercise 1, I used ChatGPT to help me figure out how to [...]. On Choice Exercise 7, I watched a YouTube video to [...].
\pagebreak</code></pre>
      You don't need to include class notes or textbooks under "tools and resources."
    </li>
    <li>
      On <em>each</em> individual exercise you attempt (both required and choice) start with a header based on this template. (Make sure that the denominator of the "self-assessed score" matches the number of points attempted.)
      <code><pre>\section*{Choice Exercise 5}
\begin{itemize}
  \item Points attempted: 7
  \item Self-assessed score: 6/7.
  \item Time spent: 56 minutes.
  \item Difficulty: 8/10.
  \item Questions/Feedback: None.
\end{itemize}</pre></code>
    </li>
    <li>
      Choose one or more problems that you would most like feedback on, and indicate this under the "questions/feedback" bullet with a brief note of what you would most like me to focus on. (This could be "mathematical correctness," "grammar," "notation," "formatting," or anything else.)
    </li>
  </ol>
</details>

<details open>
  <summary>Exercise 2 [1]</summary>
  <p>
    Post on the <code>#hw-prompts</code> Discord with either (a) an "aha moment" you've had from the last few homework assignments, (b) a topic from class that you'd like to understand better, or (c) a topic you'd like to see on the final homework assignment (HW 9).
  </p>
</details>

<details open>
  <summary>
    Exercise 3 [10]
    <span style="font-size: small;">(Blog post)</span>
  </summary>
  <p>
    Spend at least 100 minutes working on your blog post in markdown.
    Save the markdown file as <code>blog_post.md</code> and include it in your LaTeX document with <code>\usepackage[settings]{markdown}</code>. (<a href="https://www.overleaf.com/learn/how-to/Writing_Markdown_in_LaTeX_Documents">You can read more about this here.</a>)
  </p>
</details>


<h2>Choice Exercises</h2>
<p><i>Do 12 points of the following.</i></p>

<details open>
  <summary>
    Choice Exercise 4 [6]
    <span style="font-size: small;">(video)</span>
  </summary>
  <p>
    The (52:11) video "Exploration & Epiphany" by Paul Dancstep on the 3Blue1Brown YouTube channel gives a nice explanation of why Burnside's Lemma works. Watch it, and write a few sentences about what made sense, what didn't, and anything you're curious about after watching the video.
  </p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_BrFKp-U8GI?si=TyHiqa4q6N5BpGFX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</details>

<details open>
  <summary>
    Choice Exercise 5 [4 + 3 + 3]
    <span style="font-size: small;">(Group actions)</span>
  </summary>
  <p>
    We defined a (left) group action of the group \((G,*)\) on the set \(X\) as a function \(\cdot\colon G \times X \to X\) such that for all \(x \in X\) and \(g_1, g_2 \in G\)
  </p>
  <ul>
    <li>\(e \cdot x = x\), and</li>
    <li>\(g_1 \cdot (g_2 \cdot x) = (g_1 * g_2) \cdot x\).</li>
  </ul>
  <ol>
    <li>[4]
      For each of the following subparts, give an example of a group \((G,*)\), a set \(X\), and a function \(\cdot\colon G \times X \to X\) such that
      <ol>
        <li>The function is a group action (i.e., it satisfies both of the above properties.)</li>
        <li>The function satisfies the first property, but not the second.</li>
        <li>The function satisfies the second property, but not the first.</li>
        <li>The function satisfies neither property.</li>
      </ol>
    </li>
    <li>[3]
      Prove that if \( G \) is a group that acts on a set \( X \), then the set \[
        H = \{g \in G \mid g \cdot x = x \text{ for all } x \in X\}
      \] is a <em>normal subgroup</em> of \( G \).
    </li>
    <li>[3]
      Let \( G = \mathbb{Z} \), \( X = (H, *) \), and \( h \in H \) be an element of \( H \). Prove that the map \(n \cdot h = h^n * h * h^{-n}\) is a group action.
    </li>
  </ol>
</details>

<details open>
  <summary>
    Choice Exercise 6 [≤11]
    <span style="font-size: small;">(True/false)</span>
  </summary>
  {% include 'content/S26/MAT4170/HW08/_choice_exercise_true_false.html' %}
</details>

<details open>
  <summary>
    Choice Exercise 7 [≤6]
    <span style="font-size: small;">(self-study)</span>
  </summary>
  <ol>
    <li>[3]
      Set a timer for 25 minutes and read an algebra text of your choosing, attempting problems/exercises along the way.
    </li>
    <li>[3]
      After taking a break for at least five minutes, set another 25 minute timer and repeat.
    </li>
  </ol>
</details>

<details open>
  <summary>
    Choice Exercise 8 [4 + 4 + 4]
    <span style="font-size: small;">(Fundamental Theorem of Finite Abelian Groups)</span>
  </summary>
  {% include 'content/S26/MAT4170/HW08/_choice_exercise_abelian_group.html' %}
</details>

<details open>
  <summary>Final Choice Exercise [≤7]</summary>
  <i>Do any subset of the following parts, state which you did and how many points you are claiming for this problem (maximum of 7 points).</i>
  <ol>
    <li>[≤3] Email Prof Kagey (pkagey@cpp.edu) or post in the <code>#feedback</code> channel on Discord with a typo that you have spotted in this assignment or with a suggestion about how to make something clearer. (One point for every six minutes that the typo got you stuck, with a maximum of three points.)</li>
    <li>[≤2] Ask a question on Discord. (One point per question, up to 2.)</li>
    <li>[≤4] Answer a classmate's question on Discord or give a hint about a problem on this week's assignment.<a id="ref-asterisk" href="#label-asterisk"><sup>*</sup></a> (Two points per answer/hint, up to 4.)</li>
    <li>[≤4] Can you generalize any of the above problems in an interesting way? If so say what the generalization is, attempt to solve it, say something about it, and say how many points you feel like your effort was worth, up to 4.</li>
    <li>[≤4] Choose one or more problems from our textbook or a previous homework assignment which interest you and write the problem statement along with an answer. Say how many points you feel like your effort was worth, up to 4.</li>
    <li>[2] Stop by student drop-in hours.</li>
    <li>[2 or 5] Work on at least one of the above exercises with a classmate. State which classmate you worked with and which exercises you collaborated on. If you've collaborated with someone for the first time, you get 5 points, if you've collaborated with someone before, you get 2 points for working with them again.</li>
    <li>[2] Turn in the assignment on time (without requesting an extension).</li>
  </ol>
</details>

<hr>
<ol class="footnotes">
  <!-- <li id="label-1">
    [...]
    <a href="#ref-1">⏎</a>
  </li> -->
  <li id="label-asterisk">
    The syntax for a hint on Discord is double bars <code>||</code> on each side of the spoiler like this: <code>Remember that ||1 + x &lt; x + 2||.</code>
    <a href="#ref-asterisk">⏎</a>
  </li>
</ol>
