<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/prism.css">

		<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
		<script src="/assets/js/mathjax-config.js" defer></script>
		<script id="MathJax-script" defer src="/mathjax/tex-mml-chtml.js"></script>
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/F25/" class="home-link">Peter Kagey's classes (Fall 2025)</a>
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
					<li class="nav-item">
            <a href="/F25/MAT3100W/syllabus">MAT 3100W Syllabus</a>
          </li>
          <li class="nav-item">
            <a href="/F25/MAT3100W">Assignments</a>
				  </li>
				</ul>
			</nav>
		</header>

		<main id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		<footer>
			<p>
				<em>Visit <a href="https://peterkagey.com/">peterkagey.com</a></em>.
			</p>
		</footer>

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
